In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("/Users/mdnaif/Desktop/Winter_Arc_ML/Day04_Random_Forest/heart_cleveland_upload.csv")

In [6]:
df.shape

(297, 14)

In [7]:
df.size

4158

In [5]:
print(df.head(5), "\n")
print(df.tail(5), "\n")

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
0   69    1   0       160   234    1        2      131      0      0.1      1
1   69    0   0       140   239    0        0      151      0      1.8      0
2   66    0   0       150   226    0        0      114      0      2.6      2
3   65    1   0       138   282    1        2      174      0      1.4      1
4   64    1   0       110   211    0        2      144      1      1.8      1

   ca  thal  condition
0   1     0          0
1   2     0          0
2   0     0          0
3   1     0          1
4   0     0          0

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
292   40    1   3       152   223    0        0      181      0      0.0
293   39    1   3       118   219    0        0      140      0      1.2
294   35    1   3       120   198    0        0      130      1      1.6
295   35    0   3       138   183    0        0      182      0      1.4
296   35    1   3       126   282    0        2      156      1      0.0

     slope  ca  thal  condition
292      0   0     2          1
293      1   0     2          1
294      1   0     2          1
295      0   0     0          0
296      0   0     2          1

In [ ]:
df.